/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* utility classes */
.d_flex{
    display: flex;
}
.d_flex_col{
    display: flex;
    flex-direction: row;
}
.container{
    width: 969px;
}
/* //utility classes */

/* HEADER */
/* call us */
.bg_green{
    background-color: #69bf14;
}
.call_us{
    color: white;
    height: 35px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.call_us i{
    padding-right: 10px;
    cursor: pointer;
}

/* navbar */
.bg_white{
    background-color: white;
    padding: 15px;

}
.navbar{
    height: 75px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navbar li{
    list-style: none;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 600;
    
}
.navbar .menu{
    justify-content: space-between;
    align-items: center;
}
.btn{
    background-color: #1975c0;
    padding: 10px 20px;
    border-radius: 100px;
    color: white;
    border-style: none;
    font-size: 14px;
    font-weight: 600;
}


/* //HEADER */